<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav">
        <li class="nav-item">
            <%= link_to "Inicio", root_path , class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Productos", products_url, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Admin", product_admins_url, class:"nav-link" %>
        </li>
    </ul>
</nav>